@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Concert+One&family=Dongle:wght@700&family=Open+Sans:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
:root {
  --background-color: #393646;
  --text-color: #f4eee0;
}

a {
  text-decoration: none;
}
.header {
  z-index: 99999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--background-color);
  /* top: -100px; */
  /* margin-top: -200px; */
  transition: top 0.5s;
}

.initials {
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
  color: var(--text-color);
}
.menu {
  justify-self: end;
}

.menu-element {
  all: unset;
  color: var(--text-color);
  font-family: "Concert One", cursive;
}

.menu-element:hover {
  cursor: pointer;
}

.hide-container {
  top: -70px;
}

.description {
  padding: 2%;
}

#greetings {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--text-color);
}

#introduction {
  font: 1rem "Open Sans", sans-serif;
  font-size: 1rem;
  padding-right: 50px;
  color: var(--text-color);
}

.projects {
  margin-bottom: 100px;
}

.header-text {
  color: var(--text-color);

  text-align: center;
  font-family: "Dongle", sans-serif;
  font-size: 40px;
}

.swiper-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.swiper-container .swiper-button-prev {
  left: -40px;
}
.swiper-container .swiper-button-next {
  right: -40px;
}

.swiper-container .swiper-pagination {
  bottom: -30px !important;
}

.card {
  background-color: #f4eee0;
  padding: 5%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  text-align: center;
  font-family: "Dongle", sans-serif;
}

.card img {
  object-fit: cover;
  border-radius: 50%;
}

.card-name {
  margin: 0;
}

.card-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.card-link {
  text-decoration: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  left: 0;
  right: 0;
  bottom: 0;

  width: 25%;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;

  text-align: center;

  color: var(--text-color);
  background-color: #393646;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  text-align: center;
  color: var(--text-color);
  font-family: "Dongle", sans-serif;
}
.language-div {
  flex-basis: 33.333333%;
}
.language-img {
  height: 40px;
  margin: auto;
  display: block;
}

#contacth1 {
  color: var(--text-color);
  font-family: "Dongle", sans-serif;
  text-align: center;
}

.form-box {
  outline: none;
  border: solid var(--background-color) 2px;
  height: 35px;
  color: var(--text-color);
  background-color: #4f4557;
}
.email-form {
  display: flex;
  flex-wrap: wrap;
}

#email-name {
  flex-grow: 1;
}

#email-box {
  flex-grow: 1;
}
#email-subject {
  width: 100%;
}
#message-box {
  height: 200px;
  width: 100%;
}

#email-button {
  margin: 10px 0px 5px auto;
  width: 200px;
  height: 50px;
  background-color: inherit;
  color: var(--text-color);
  font-size: 25px;
  font-family: "Open Sans", sans-serif;

  border: solid #4f4557 4px;
}

#email-button:hover {
  background-color: #6d5d6e;
}

@media screen and (min-width: 280px) {
  .header {
    padding: 0 30px 0 30px;
  }

  .card img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .swiper {
    width: 100%;
    height: 400px;
  }
  @media screen and (max-width: 640px) {
    .swiper-slide {
      max-width: 350px;
    }
  }
}

@media screen and (min-width: 769px) {
  .email-form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .languages {
    padding: 0 50px 0 50px;
  }
  .language-img {
    height: 70px;
  }
}

@media screen and (min-width: 1025px) {
  .card img {
    width: 150px;
    height: 150px;
  }

  .swiper {
    width: 80%;
    min-height: 450px;
  }

  @media screen and (max-width: 1200px) {
    .card img {
      width: 125px;
      height: 125px;
    }

    .swiper {
      width: 70%;
      min-height: 450px;
    }
  }
  @media screen and (max-width: 1800px) {
    .card img {
      width: 150px;
      height: 150px;
    }
    .swiper {
      width: 90%;
      min-height: 450px;
    }
  }

  .email-form {
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
  }

  #message-box {
    height: 200px;
    width: 100%;
    height: 300px;
  }
  .languages {
    padding: 0 50px 0 50px;
  }
  .language-img {
    height: 70px;
  }
}

.swiper-slide {
  /* background-color: aliceblue; */
  border-radius: 5%;
  overflow: hidden;
}
